:root {
    --purple: rgb(123, 31, 162);
    --pink: rgb(244, 143, 177);
    --violet: rgb(103, 58, 183);
    --bg-color: rgb(13, 17, 23);
    --card-color: rgb(16, 20, 26);
    --card-text-color: rgb(255, 255, 255);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@keyframes scale {
    from, to {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

/* Global styles */
body {
    background-color: var(--bg-color);
    color: white;
    font-family: "Rubik", sans-serif;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: "Rubik", sans-serif;
}

/* Gradient text */
h1 > .magic {
    display: inline-block;
    position: relative;
}

h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }

  h1 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }

  h1 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }

h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

/* Grid styles */
.grid {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 260px;
  width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 500ms;
  content: "";
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  pointer-events: none;
  z-index: 1;
}

/* Create a visual effect of the card lighting up it's neighbors */
.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* Make <a> tags inside the card clickable */
.card > a {
  color: inherit;
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.card > .card-content > .card-header {
  z-index: 4;
}